# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# MacOS
.DS_Store

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/

# Visual Studio
.vs/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotNet
*.dotCover
*.dotTrace
*.dotMemory
*.dotSettings.user

# Others
*.swp
*~ 